<header role="banner">
  <nav class="navigation" role="navigation" aria-labelledby="mainnavheader">
    <!-- On desktop this will be hidden and on mobile this can menu trigger
         (if I decide that that is an ideal mobile paradigm for this menu) -->
    <h2 id="mainnavheader">Navigation Menu</h2>

    <ul role="navigation">
      <li>
        <!-- Note that we remove the link from the active page for clarity -->
        <span class="active" aria-current="page">Homepage</span>
      </li>

      <li>
        <a href="" title="" class="-extra">Learning</a>
      </li>
    </ul>
  </nav>

  {% include "partials/logo.html" %}
</header>
