//
// Squiggle
// =============================================================================

.squiggle {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
  background-size: 20%;
  height: 18px;
  max-width: 150px;
}

// TODO: Maybe I can add an animation when you hover over it
//       https://css-tricks.com/having-fun-with-link-hover-effects/
