//
// Article
// =============================================================================

.article {
  // Style embedded images
  figure {
    @media (min-width: $media-min-768) {
      margin-left: -10rem;
    }
  }

  figcaption {
    color: getColor(type, subtle);
    font-size: typeScale(1);
    font-style: italic;
  }

  img {
    max-width: 100%;
    width: auto;
  }
}

.article-header {
  margin-bottom: spacing(10);
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}

.article-title {
  margin-bottom: 1.5rem;
}

.article-lead {
  color: getColor(type, heading);
  font-size: typeScale(3);
  margin: 0 auto;
}

.article-author {
  color: getColor(type, subtle);
  font-size: typeScale(1);
}

.article-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;

  @media (min-width: $media-min-1440) {
    max-width: 840px;
  }

  h2 {
    margin-top: typeScale(6)
  }

  h3 {
    margin-top: typeScale(4)
  }

  p {
    &:first-child:first-letter {
      float: left;
      font-size: typeScale(8);
      font-weight: bold;
      line-height: 1;
      padding-top: .25rem;
      padding-right: .75rem;
      padding-left: .25rem;
    }
  }

  li {
    &:not(:first-of-type) {
      margin-top: .55rem;
    }
  }
}

.article-updated {
  font-style: italic;
  font-size: typeScale(1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: right;
}

.article-date {
  color: getColor(type, subtle);
  font-size: typeScale(1);
  margin-bottom: 1rem;
  margin-top: 0;
}
