//
// Resources
// =============================================================================

.resources {
  display: flex;
  flex-wrap: wrap;
}

.resources-header {
  text-align: center;

  > p {
    margin-bottom: ($spacing-section / 2);
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
}


//
// Individual Resource
// -------------------

.resources-resource {
  flex-basis: 100%;
  margin-top: ($spacing-section / 2);

  @media (min-width: $media-min-480) {
    flex-basis: 50%;
  }

  @media (min-width: $media-min-960) {
    flex-basis: 33.333%;
  }
}

.resources-resource-content {
  @media (min-width: $media-min-480) {
    padding-right: spacing(10);
  }
}
