//
// Resources
// =============================================================================

.resources {
  display: flex;
  flex-wrap: wrap;
}

.resource {
  margin-bottom: ($spacing-section / 2);

  @media (min-width: $media-min-768) {
    width: 30%;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:not(:first-of-type) {
      padding-left: 5%;
    }

    &:nth-child(4n) {
      padding-left: 0;
    }

    &:nth-child(n+4) {
      margin-top: ($spacing-section / 2);
    }
  }
}

.resources-header {
  margin-bottom: ($spacing-section / 2);
  max-width: 768px;

  > p {
    margin-bottom: 0;
  }

  .squiggle {
    margin-top: ($spacing-section / 2);
  }
}
