//
// Resources
// =============================================================================

.resources {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -($spacing-section / 2);
}

.resources-header {
  margin-bottom: ($spacing-section / 2);
  max-width: 700px;

  > p {
    margin-bottom: ($spacing-section / 2);
  }
}


//
// Individual Resource
// -------------------

.resources-resource {
  margin-bottom: ($spacing-section / 2);

  @media (min-width: $media-min-480) {
    width: 50%;
  }

  @media (min-width: $media-min-960) {
    width: 33.333%;
  }
}

.resources-resource-content {
  @media (min-width: $media-min-480) {
    padding-right: spacing(10);
  }
}
