<section class="container" data-page-section>
  <div class="resources">
    {% for section in topic.sections %}
      <div class="resources-section">
        <h2>{{ section.name }}</h2>

        <p>{{ section.description }}</p>

        {% for item in section.items %}
          {% if loop.first %}
            {# Limit ourselves to 5 items #}
            <ul
              {% if loop.length > 10 %}
                class="-column-third"
              {% elif loop.length > 5 %}
                class="-column-half"
              {% endif %}
            >
          {% endif %}

            <li>
              <a href="{{ item.url }}" title="{{ item.name }}">
                {{ item.name }}
              </a>
            </li>

          {% if loop.last %}
            </ul>
          {% endif %}
        {% endfor -%}
      </div>
    {% endfor -%}
  </div>
</section>
