---
layout: default
---

{% import "templates/article.html" as article with context %}

<article class="article container">
  <header class="article-header">
    <h1 class="article-title">
      {{ title }}
    </h1>

    {{ article.lead() }}

    {{ article.meta() }}
  </header>

  {{ article.content() }}

  {{ article.updated() }}
</article>
