<!doctype html>
<html lang="en">
<head>
  {% include "globals/meta.html" %}
</head>

<body>
  {% include "globals/header.html" %}

  {% include "globals/main.html" %}

  {% include "globals/footer.html" %}
</body>
</html>
