<!doctype html>
<html lang="en">
<head>
  {% include "globals/meta.html" %}
</head>

<body>
  {% include "partials/header.html" %}

  {% include "partials/main.html" %}

  {% include "partials/footer.html" %}
</body>
</html>
