<div class="container" data-page-section>
  <div class="blogArticleList">
    {%- for post in collections.post -%}
      <article class="article">
        <h2>
          <a href="{{ post.url }}" title="{{ post.data.title }}">
            {{ post.data.title }}
          </a>
        </h2>

        <p class="article-date">
          By {{ post.data.author }} on {{ post.date }}
        </p>

        <p class="article-excerpt">
          {{ post.data.content | safe | truncate(500) }}
        </p>

        <p class="blogArticleList-readmore">
          <a href="{{ post.url }}" title="{{ post.data.title }}">
            Read more
          </a>
        </p>
      </article>

      {% if not loop.first %}
        <div class="squiggle -center"></div>
      {% endif %}

      {% if loop.last %}
        <p class="blogArticleList-fin">Fin.</p>
      {% endif %}
    {%- endfor -%}
  </div>
</div>
