<div class="container">
  <div class="articles">
    <h1 class="articles-header">Blog</h1>

    {%- for post in collections.post -%}
      <article class="article {% if not loop.first %} -border {% endif %}">
        <h2 class="articles-desc-header">
          <a href="{{ post.url }}" title="{{ post.data.title }}">
            {{ post.data.title }}
          </a>
        </h2>

        <p class="article-date">
          By {{ post.data.author }} on {{ post.date }}
        </p>

        <p class="article-excerpt">
          This is an excerpt from the article content. It will be the first paragraph of text that is written in the article so that we can give people a glimpse into the article content.
        </p>
      </article>
    {%- endfor -%}
  </div>
</div>
