<section class="container">
  <header class="homepage-header">
    <h2>Learn more about coffee</h2>

    <p>We have lots of resources that you can become more informed about coffee.</p>
  </header>

  <div class="learning">
    <div>
      <h3>Coffee basics</h3>

      <p>A description about coffee basics here.</p>

      <!-- This can be a nicely stylized list -->
      <ul>
        <li>
          <a href="" title="">Coffee grinders</a>
        </li>
      </ul>
    </div>

    <div>
      <h3>Brewing methods</h3>

      <p>A description about brewing methods here.</p>

      <!-- Should there be a <nav> tag wrapped around this? -->
      <ul>
        <li>
          <a href="" title="">Aeropress</a>
        </li>
      </ul>
    </div>
  </div>
</section>
