<section class="container">
  <header class="sectionHeader">
    <h1>Hario v60</h1>

    <p>This is a high-level description of the topic at hand. A few sentences describing what our subject is and a little history on the subject.</p>
  </header>

  <div class="resource">
    <h2>The Basics</h2>

    <p>This is a description about the section of information.</p>

    <ul>
      <li>
        <a href="#" title="">Link title here</a>
      </li>
    </ul>
  </div>

  <div class="resource">
    <h2>Brewing Methods</h2>

    <p>This is a description about the section of information.</p>

    <ul>
      <li>
        <a href="#" title="">Link title here</a>
      </li>
    </ul>
  </div>
</section>
