<section class="container" data-page-section>
  <header class="resources-header">
    <h1>Hario v60</h1>

    <p>This is a high-level description of the topic at hand. A few sentences describing what our subject is and a little history on the subject.</p>

    <aside class="squiggle"></aside>
  </header>

  <div class="resources">
    <div class="resources-resource">
      <div class="resources-resource-content">
      <h3>The Basics</h3>

      <p>This is a description about the section of information.</p>

      <ul>
        <li>
          <a href="#" title="" class="-external">Link title here</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="resources-resource">
      <div class="resources-resource-content">
      <h3>Brewing Methods</h3>

      <p>This is a description about the section of information.</p>

      <ul>
        <li>
          <a href="#" title="">Link title here</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="resources-resource">
      <div class="resources-resource-content">
      <h3>Brewing Methods</h3>

      <p>This is a description about the section of information.</p>

      <ul>
        <li>
          <a href="#" title="">Link title here</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="resources-resource">
      <div class="resources-resource-content">
      <h3>Brewing Methods</h3>

      <p>This is a description about the section of information.</p>

      <ul>
        <li>
          <a href="#" title="">Link title here</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="resources-resource">
      <div class="resources-resource-content">
      <h3>Brewing Methods</h3>

      <p>This is a description about the section of information.</p>

      <ul>
        <li>
          <a href="#" title="">Link title here</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</section>
