//
// Links
// =============================================================================

a {
  color: getColor(type, base);
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }


  //
  // Modifiers
  // ---------

  // Content links
  p &,
  ul & {
    text-decoration: underline;

    &:hover {
      background-color: black;
      color: white;
      text-decoration: none;
    }
  }

  // Underline
  &.-underline {
    @include link_underline();
  }

  // External links
  &.-external {
    &::after {
      background: url('../dist/images/external-link.svg');
      background-size: cover;
      content: '';
      height: .75em;
      opacity: .35;
      position: absolute;
      right: -1em;
      top: 0;
      transition: opacity $transition-long;
      width: .75em;
    }

    &:hover {
      text-decoration: none;

      &::after {
        opacity: 1;
      }
    }
  }
}
