//
// Links
// =============================================================================

a {
  color: black;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }


  //
  // Modifiers
  // ---------

  // Content links
  p &,
  ul & {
    background: linear-gradient(black, black) bottom no-repeat;
    background-size: 100% 2px;
    transition: background-size $transition-short;

    &:hover {
      background-size: 100% 100%;
      color: white;
    }
  }

  // External links
  &.-external {
    &::after {
      background: url('../dist/images/external-link.svg');
      background-size: cover;
      bottom: .75em;
      content: '';
      height: 1em;
      opacity: .35;
      position: absolute;
      right: -1.5em;
      transition: opacity $transition-long;
      width: 1em;
      z-index: 1;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  // Underline
  &.-underline {
    @include link_underline();
  }
}
