//
// Global Footer
// =============================================================================

.g-footer {
  border-top: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 25px;

  @media (max-width: $media-max-767) {
    text-align: center;
  }

  @media (min-width: $media-max-768) {
    flex-direction: row;
  }
}
