//
// Globals
// =============================================================================

section {
  margin-bottom: 5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  padding-left: spacing(5);
  padding-right: spacing(5);

  @media (min-width: $media-max-768) {
    padding-left: spacing(10);
    padding-right: spacing(10);
  }
}
