{% import "templates/article.njk" as article with context %}

<div class="container" data-page-section>
  <div class="blogArticleList">
    {%- for post in collections.post -%}
      <article class="article">
        <h2>
          <a href="{{ post.url }}" title="{{ post.data.title }}">
            {{ post.data.title }}
          </a>
        </h2>

        {{ article.meta(post.data.author, false) }}

        {% if post.data.lead %}
          {{ article.lead(lead) }}
        {% else %}
          <p class="article-excerpt">
            {{ post.data.content | safe | truncate(500) }}
          </p>
        {% endif %}

        <p class="blogArticleList-readmore">
          <a href="{{ post.url }}" title="{{ post.data.title }}">
            Read more
          </a>
        </p>
      </article>

      <div class="squiggle -center"></div>

      {% if loop.last %}
        <p class="blogArticleList-fin">Fin.</p>
      {% endif %}
    {%- endfor -%}
  </div>
</div>
