<!--
  Inspired by: https://www.stumptowncoffee.com/brew-guides
-->
<section data-page-section>
  <article class="guides">
    <a href="" class="guides-item -aeropress">
      <h2 class="guides-item-title">
        Aeropress
      </h2>
    </a>

    <a href="" class="guides-item -aeropress">
      <h2 class="guides-item-title">
        Aeropress
      </h2>
    </a>

    <a href="" class="guides-item -aeropress">
      <h2 class="guides-item-title">
        Aeropress
      </h2>
    </a>

    <a href="" class="guides-item -aeropress">
      <h2 class="guides-item-title">
        Aeropress
      </h2>
    </a>

    <a href="" class="guides-item -aeropress">
      <h2 class="guides-item-title">
        Aeropress
      </h2>
    </a>

    <a href="" class="guides-item -aeropress">
      <h2 class="guides-item-title">
        Aeropress
      </h2>
    </a>
  </article>
</section>
