<section class="container" data-page-section>
  <header>
    <h2>Brewing Guides</h2>

    <p>Describe this list of cool brewing guides that can help you learn more about coffee.</p>
  </header>

  <div class="brewing">
    <div class="brewing-item">
      <a href="#" title="">
        <img src="/dist/images/aeropress.jpg" alt="Aeropress">

        <h3>Aeropress</h3>
      </a>

      <p>A description about this brewing method here.</p>

      <a class="brewing-link" href="#" title="">
        See recipe →
      </a>
    </div>

    <div class="brewing-guide">
      <a href="#" title="">
        <img src="/dist/images/cold-brew.jpg" alt="Cold brew">

        <h3>Cold Brew</h3>
      </a>

      <p>A description about this brewing method here.</p>

      <a class="brewing-link" href="#" title="">
        See recipe →
      </a>
    </div>

    <div class="brewing-guide">
      <a href="#" title="">
        <img src="/dist/images/v60.jpg" alt="Hario v50">

        <h3>Hario v60</h3>
      </a>

      <p>A description about this brewing method here.</p>

      <a class="brewing-link" href="#" title="">
        See recipe →
      </a>
    </div>
  </div>

  <p class="brewing-all">
    <a class="-button" href="/learning/brewing-guides" title="See all guides">
      See all guides
    </a>
  </p>
</section>
