{% if homepage_description %}
  <section class="homepageDescription">
    <h1 class="homepageDescription-title">
      {{ homepage_description_header }}
    </h1>

    <p class="homepageDescription-desc -xl">
      {{ homepage_description }}
    </p>
  </section>
{% endif %}
