{% if homepage_description %}
  <section class="homepageDescription">
    <h2>
      {{ homepage_description_header }}
    </h2>

    <p class="-xl">
      {{ homepage_description }}
    </p>
  </section>
{% endif %}
