<div class="masthead" data-page-section>
  {% if masthead %}
    <h1 class="masthead-text" data-text="{{ masthead }}">
      <span>
        {{ masthead }}
      </span>
    </h1>
  {% endif %}

  {% if masthead_credit_name %}
    <span class="masthead-credit">
      Photo by <a href="{{ masthead_credit_url }}" title="Coffee photo by {{ masthead_credit_name }}">{{ masthead_credit_name }}</a>
    </span>
  {% endif %}
</div>
