<div class="pageHeader" data-page-section>
  {% if page_title %}
    <h1 class="-xl">
      {{ page_title }}
    </h1>
  {% endif %}

  {% if page_title %}
    <p class="-xl">{{ page_description }}</p>
  {% endif %}

  {% if page_squiggle %}
    <aside class="squiggle -center"></aside>
  {% endif %}
</div>
