<div class="resourceHighlights">
  <div class="resourceHighlights-item">
    <h3>Resources</h3>

    <p>This is a short description about this highlighted area on this website</p>

    <a href="#">Learn more</a>
  </div>

  <div class="resourceHighlights-item">
    <h3>Resources</h3>

    <p>This is a short description about this highlighted area on this website</p>

    <a href="#">Learn more</a>
  </div>

  <div class="resourceHighlights-item">
    <h3>Resources</h3>

    <p>This is a short description about this highlighted area on this website</p>

    <a href="#">Learn more</a>
  </div>
</div>
