<section class="resourceHighlights">
  <article class="resourceHighlights-item">
    <h3>Resources</h3>

    <p>This is a short description about this highlighted area on this website</p>

    <a href="#">Learn more</a>
  </article>

  <article class="resourceHighlights-item">
    <h3>The Basics</h3>

    <p>This is a short description about this highlighted area on this website</p>

    <a href="#">Learn more</a>
  </article>

  <article class="resourceHighlights-item">
    <h3>Brewing</h3>

    <p>This is a short description about this highlighted area on this website</p>

    <a href="#">Learn more</a>
  </article>
</section>
