//
// Brewing Guides
// =============================================================================

.brewing {
  @media (min-width: $media-min-768) {
    display: flex;
    justify-content: space-evenly;
  }

  img {
    width: 100%;
  }
}

.brewing-guide {
  &:not(:first-of-type) {
    @media (min-width: $media-min-768) {
      margin-left: 3rem;
    }
  }
}

.brewing-link {
  float: right;
}

.brewing-all {
  margin-top: 2.5rem;
  text-align: center;
}
