//
// Homepage Description
// =============================================================================

.homepageDescription {
  font-size: typeScale(3);
  margin: 0 auto;
  padding: spacing(20) spacing(5);

  @media (min-width: $media-min-768) {
    margin-left: spacing(20);
    max-width: 65%;
    padding-bottom: spacing(30);
    padding-top: spacing(30);
  }

  @media (min-width: $media-min-1120) {
    margin-left: spacing(40);
    max-width: 45%;
    padding-bottom: spacing(40);
    padding-top: spacing(40);
  }
}
