//
// Homepage Description
// =============================================================================

.homepageDescription {
  font-size: 1.15rem;
  margin: 0 200px 0 auto;
  max-width: 40%;
  padding: 150px 0;
  text-align: right;
}


//
// Descendants
// -----------

.homepageDescription-title {
  font-size: 1.75em;
  font-weight: 600;
  text-transform: capitalize;
}
