//
// Homepage Description
// =============================================================================

.homepageDescription {
  margin: 0 auto;
  padding: spacing(20) spacing(5);

  @media (min-width: $media-min-768) {
    padding-bottom: spacing(30);
    padding-top: spacing(30);
    text-align: center;
  }

  @media (min-width: $media-min-1120) {
    padding-bottom: spacing(40);
    padding-top: spacing(30);
  }
}

.homepageDescription-title {
  &:after {
    background: getColor(brand, slate);
    content: '';
    display: block;
    height: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 37px;

    @media (min-width: $media-min-768) {
      margin: 40px auto;
    }
  }
}

.homepageDescription-desc {
  max-width: 650px;

  @media (min-width: $media-min-768) {
    margin-left: auto;
    margin-right: auto;
  }
}
