//
// Masthead
// =============================================================================

.masthead {
  align-items: flex-end;
  background: url($assets-images + 'background.jpg') bottom center;
  background-size: cover;
  display: flex;
  position: relative;

  @media (min-width: $media-min-768) {
    height: 550px;
    margin-left: spacing(5);
    margin-right: spacing(5);
    max-width: 1260px;
  }

  @media (min-width: 1285px) {
    margin-left: auto;
    margin-right: auto;
  }
}


//
// Descendants
// -----------

.masthead-text {
  color: getColor(type, masthead);
  font-size: 5.5rem;
  font-style: italic;
  font-weight: 900;
  max-width: 525px;
  line-height: .85;
  text-transform: lowercase;
  transform: translate(-15px, 50px);
}
