//
// Resource Highlights
// =============================================================================

.resourceHighlights {
  @media (min-width: $media-min-768) {
    display: flex;
    justify-content: center;
  }


  //
  // Modifiers
  // ---------

  // NOTE: Alternative skin for this component. I like both styles
  //       but not sure which I like better (maybe A/B test)
  &.-pop {
    background-color: getColor(bg, dark);

    .resourceHighlights-item {
      color: getColor(type, inverted);

      &:not(:last-of-type) {
        border-right: none;
      }

      &:hover {
        background-color: getColor(bg, light);
        box-shadow: 0 5px 5px -5px rgba(34, 43, 55, .35);
        color: getColor(type, base);

        h3 {
          color: getColor(type, base);
        }
      }

      h3 {
        color: getColor(type, inverted);
      }

      @media (min-width: $media-min-960) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

//
// NOTE: I think the default style I have applied might be nice for
//       something like a "Related Articles" or "Previous/Next Entry"
//       component. Keep the middle tile blank and have one aligned
//       to the left and right at the bottom of an article would
//       look nice.
//
.resourceHighlights-item {
  padding: 50px;
  transition: all .5s cubic-bezier(.165, .84, .44, 1);

  @media (min-width: $media-min-768) {
    max-width: 33.33%;
  }

  @media (min-width: $media-min-960) {
    max-width: 25%;
  }

  &:not(:last-of-type) {
    border-right: 1px solid getColor(bg, dark);
  }

  &:hover {
    background-color: #f6f6f6;

    a {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;

      &::after {
        max-width: 100%;
        visibility: visible;
      }
    }
  }

  h3 {
    margin: 0;
  }

  a {
    opacity: 0;
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
    transition-delay: 50ms;
    transform: translateY(7px);
    visibility: hidden;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;

    &::after {
      background-color: #74b49b;
      content: '';
      display: block;
      height: 3px;
      max-width: 0;
      transition: max-width .3s cubic-bezier(.165, .84, .44, 1);
      transition-delay: 260ms;
      visibility: hidden;
      width: 100%;
    }

    &:hover {
      color: #74b49b;
      text-decoration: none;
    }
  }
}
