//
// Section Header
// =============================================================================

.sectionHeader {
  border-bottom: 2px solid black;
  margin-bottom: 5rem;
  max-width: 768px;
  padding-bottom: 2.5rem;

  > p {
    margin-bottom: 0;
  }
}
