//
// @mixin container()
//
// This gives us a basic container we can use to wrap content using the
// `$container-width` variable
//
//

@mixin container() {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
}
