//
// @mixin link-underline()
//
// This will give a link a custom-styled bottom underline
//
// @param `$active` if the underline is displayed without any user interaction
//                  (e.g., without mousing over)
//

@mixin link_underline($active: false) {
  background: transparent;
  position: relative;

  &::after {
    background-color: rgba(black, 0);
    bottom: -3px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    transform: scale(.5) translateY(10px);
    transition: transform $transition-short, background-color $transition-short;
  }

  @if ($active == false) {
    &:hover {
      @include link_underline-hover();
    }
  } @else {
    @include link_underline-hover();
  }
}

@mixin link_underline-hover() {
  color: getColor(type, base);

  &::after {
    background-color: rgba(black, .8);
    transform: scale(1) translateY(0);
    transition-duration: $transition-short;
  }
}
