<footer class="container g-footer" role="contentinfo">
  <small>Built with
    <span class="g-footer-emoji">❤️</span> and
    <span class="g-footer-emoji">☕️</span> by
    <a href="http://keenanpayne.com" title="Keenan Payne website">Keenan Payne</a>
  </small>

  {{ navigation.output('-inline') }}
</footer>
