{% macro header(modifiers) %}
  <a href="#navigation" class="hamburger">
    <span class="hamburger-line -one"></span>
    <span class="hamburger-line -two"></span>
    <span class="hamburger-line -three"></span>
  </a>
{% endmacro %}

{% macro output(modifiers) %}
  <nav class="navigation {{ modifiers }}" role="navigation" aria-labelledby="mainnavheader">
    <!-- On desktop this will be hidden and on mobile this can menu trigger
         (if I decide that that is an ideal mobile paradigm for this menu) -->
    <h2 id="mainnavheader">Navigation Menu</h2>

    <ul role="navigation">
      {%- for item in collections.mainnavigation -%}
        <li>
          <!-- Create a link if it is not the active -->
          {% if page.url !== item.url %}
            <a href="{{ item.url }}" title="{{ item.data.title }}" class="-underline">
          {% elseif title !== "Home" %}
            <span class="-active">
          {% endif %}
            {{ item.data.title }}

          {% if page.url !== item.url %}
            </a>
          {% elseif title !== "Home" %}
            </span>
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{% endmacro %}
