//
// Globals
// =============================================================================

//
// The Kitchen Sink
// ----------------

// Anti-alias text on Retina/high DPI devices
* {
  box-sizing: border-box;

  @media screen and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Update selection colors
::selection {
  background: rgba(getColor(ui, lines), .65);
  color: black;
}


//
// Base Layout
// -----------

body {
  background-color: white;
  margin: 0 auto;
}
