//
// Global Footer
// =============================================================================

.g-footer {
  align-items: center;
  border-top: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: spacing(5);

  @media (max-width: $media-max-767) {
    text-align: center;
  }

  @media (min-width: $media-min-768) {
    flex-direction: row;
    padding: spacing(10) spacing(5);
  }

  //
  // Descendants
  // -----------

  p {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;

    @media (max-width: $media-max-767) {
      margin-bottom: spacing(5);
    }
  }
}
