//
// Global Footer
// =============================================================================

.g-footer {
  align-items: center;
  border-top: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: spacing(5);

  @media (max-width: $media-max-767) {
    text-align: center;
  }

  @media (min-width: $media-min-768) {
    flex-direction: row;
    padding-bottom: spacing(10);
    padding-top: spacing(10);
  }


  //
  // Descendants
  // -----------

  > small {
    display: block;
  }

  > p {
    margin-bottom: spacing(5);
    margin-top: 0;

    @media (min-width: $media-min-768) {
      margin-bottom: 0;
    }
  }
}

// Fixing emoji alignment
.g-footer-emoji {
  margin-left: 3px;
}
