//
// Global Header
// =============================================================================

.g-header {
  @include container;

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem spacing(5);
}
