//
// Logo
// =============================================================================

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  letter-spacing: 0.26em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  a {
    color: getColor(brand, slate);
    transition: color $transition-long;

    &:hover {
      color: #5aabcc;
      text-decoration: none;
    }
  }
}
