//
// Logo
// =============================================================================

.logo-link {
  display: block;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    color: inherit;
  }
}

.logo {
  color: black;
  font-family: $font-logo-primary;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;

  span {
    display: block;
    font-family: $font-logo-secondary;
    font-size: .5em;
    font-style: italic;
    font-weight: lighter;

    &:first-of-type {
      margin-bottom: 3px;
    }

    &:last-of-type {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  @media (max-width: $media-max-767) {
    margin-bottom: spacing(5);
  }
}
