//
// Logo
// =============================================================================

.logo {
  color: black;
  font-family: $font-logo-primary;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;

  span {
    display: block;
    font-family: $font-logo-secondary;
    font-size: .5em;
    font-style: italic;
    font-weight: lighter;

    &:first-of-type {
      margin-bottom: spacing(1);
    }

    &:last-of-type {
      margin-bottom: spacing(1);
      margin-top: spacing(1);
    }
  }

  @media (max-width: $media-max-767) {
    margin-bottom: spacing(5);
  }

  // Modifiers
  &.-background {
    background: url($assets-images + 'background.jpg') center center;
    background-size: cover;
    font-size: 2.5rem;
    padding-bottom: spacing(10);
    padding-top: spacing(10);

    span {
      font-size: 1.25rem;
    }
  }
}
