//
// Globals
// =============================================================================

[data-page-section] {
  & + & {
    margin-top: $spacing-section;
  }

  &:last-of-type {
    margin-bottom: $spacing-section;
  }
}

.container {
  @include container;

  padding-left: spacing(5);
  padding-right: spacing(5);
}
