{% macro meta(author) %}
  <p class="article-author">
    {% if author %}
      By {{ author }}
    {% endif %}
    <span data-read-time></span> | read
  </p>
{% endmacro %}

{% macro lead(content) %}
  {% if content %}
    <p class="article-lead">
      {{ content }}
    </p>
  {% endif %}
{% endmacro %}

{% macro updated(when) %}
  <p class="article-updated">
    Last updated on
    {% if when %}
      {{ when }}
    {% endif %}
  </p>
{% endmacro %}

{% macro content(text) %}
  <div class="article-content">
    {{ text | safe }}
  </div>
{% endmacro %}
