<!-- On mobile this can just be a stacked list as there will be no dropdowns -->
<nav class="navigation -secondary" role="navigation" aria-label="Footer navigation">
  <ul role="navigation">
    {%- for item in collections.mainnavigation -%}
      <li>
        <!-- Create a link if it is not the active -->
        {% if page.url !== item.url %}
          <a href="{{ item.url }}" title="{{ item.data.title }}">
        {% endif %}
          {{ item.data.title }}

        {% if page.url !== item.url %}
          </a>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</nav>
