---
layout: default
---

{% import "templates/article.njk" as article with context %}

<article class="article container">
  <header class="article-header">
    <h1 class="article-title -xl">
      {{ title }}
    </h1>

    {{ article.lead(lead) }}

    {{ article.meta(author) }}
  </header>

  {{ article.content(content) }}

  {{ article.updated(date) }}
</article>
