<!doctype html>
<html lang="en" class="-bordered-wide">
<head>
  {% include "globals/meta.html" %}
</head>

<body>
  {# Macros #}
  {% import "globals/navigation.html" as navigation with context %}

  {# Includes #}
  {% include "globals/header.html" %}

  {% include "globals/main.html" %}

  {% include "globals/footer.html" %}
</body>
</html>
