<!doctype html>
<html lang="en" class="-bordered-wide">
<head>
  {% include "globals/meta.njk" %}
</head>

<body>
  {# Macros #}
  {% import "globals/navigation.njk" as navigation with context %}

  {# Includes #}
  {% include "globals/header.njk" %}

  {% include "globals/main.njk" %}

  {% include "globals/footer.njk" %}
</body>
</html>
