---
layout: default
---

{% for section in sections %}
  {% include "components/" + section + ".njk" %}
{% endfor %}

{% if content %}
  <div class="container">
    {{ content | safe }}
  </div>
{% endif %}
