//
// Variables
// =============================================================================

//
// Assets
// --------------------------------------------------

$assets-images: '../dist/images/';


//
// Typography
// --------------------------------------------------

// Primary fonts
$font-primary: trade-gothic-next, Helvetica, Arial, sans-serif;
$font-secondary: miller-headline, serif;

// Logo fonts
$font-logo-primary: 'Bungee Shade', serif;
$font-logo-secondary: 'Vampiro One', Helvetica, Arial, sans-serif;


//
// Type Scale
// --------------------------------------------------

// Suggested ratios
// Source: http://type-scale.com/
$_minor-second:     1.067 !default;
$_major-second:     1.125 !default;
$_minor-third:      1.200 !default;
$_major-third:      1.250 !default;
$_perfect-fourth:   1.333 !default;
$_augmented-fourth: 1.414 !default;
$_perfect-fifth:    1.500 !default;
$_golden-ratio:     1.618 !default;

// Ratio for primary scale
$scale-ratio: $_perfect-fourth !default;

// Ratio for secondary scale
$scale-ratio-secondary: $_perfect-fourth !default;


//
// Responsiveness
// --------------------------------------------------

// Min-width breakpoints
$media-min-480: 480px;
$media-min-768: 768px;
$media-min-960: 960px;
$media-min-1440: 1440px;

// Max-width breakpoints
$media-max-767: 767px;


//
// Layout
// --------------------------------------------------

// Layout
$container-width: 1260px;

// Global spacing unit
$spacing-unit: 5px;

// Space in-between sections
$spacing-section: 5rem;


//
// Color Palette
// --------------------------------------------------
// Use the `getColor()` function to use those values in
// your stylesheets. Example: getColor(base, primary)

$colors: (
  type: (
    "base":     #333333,
    "heading":  #101010,
    "subtle":   #666666,
    "inverted": #ffffff
  ),

  ui: (
    "lines":    #d9a675
  )
);


//
// Delight
// --------------------------------------------------

// Transition timing
$transition-short: 125ms;
$transition-medium: 200ms;
$transition-long: 250ms;
