//
// Variables
// ---------

// Media queries
$media-max-767: 767px;
$media-min-768: 768px;

// Assets
$assets-images: '../dist/images/';

// Spacing
$spacing-unit: 5px;
$spacing-section: 5rem;

// Color palette


// Fonts
$font-primary: 'Lato', sans-serif;

$font-logo-primary: 'Bungee Shade', serif;
$font-logo-secondary: 'Vampiro One', cursive;

// Type sizes
