//
// Variables
// =============================================================================

//
// Assets
// --------------------------------------------------

$assets-images: '../dist/images/';


//
// Typography
// --------------------------------------------------

// Primary fonts
$font-primary: 'Inter', Helvetica, Arial, sans-serif;
$font-primary-var: 'Inter var', Helvetica, Arial, sans-serif;
$font-secondary: miller-headline, Times, Georgia, serif;
// TODO: Not sure if keeping this font. I like it, it's different.
//       I'm not sure how it fits into the overall typography though.
$font-tertiary: nimbus-sans-extended, Helvetica, arial sans-serif;


//
// Type Scale
// --------------------------------------------------

// Suggested ratios
// Source: http://type-scale.com/
$_minor-second:     1.067 !default;
$_major-second:     1.125 !default;
$_minor-third:      1.200 !default;
$_major-third:      1.250 !default;
$_perfect-fourth:   1.333 !default;
$_augmented-fourth: 1.414 !default;
$_perfect-fifth:    1.500 !default;
$_golden-ratio:     1.618 !default;

// Ratio for primary scale
$scale-ratio: $_augmented-fourth !default;

// Ratio for secondary scale
$scale-ratio-secondary: $_perfect-fourth !default;


//
// Responsiveness
// --------------------------------------------------

// Min-width breakpoints
$media-min-480: 480px;
$media-min-768: 768px;
$media-min-960: 960px;
$media-min-1120: 1120px;
$media-min-1440: 1440px;


//
// Layout
// --------------------------------------------------

// Layout
$container-width: 1260px;

// Global spacing unit
$spacing-unit: 5px;

// Space in-between sections
$spacing-section: 5rem;
$spacing-section-half: 2.5rem;


//
// Color Palette
// --------------------------------------------------
// Use the `getColor()` function to use those values in
// your stylesheets. Example: getColor(base, primary)

$colors: (
  type: (
    "base":     #333333,
    "heading":  #101010,
    "subtle":   #666666,
    "inverted": #ffffff,
    "masthead": #000000
  ),

  ui: (
    "lines":    #d9a675
  ),

  bg: (
    "dark":     #303030,
    "light":    #f0f0f0
  ),

  brand: (
    "slate":    #444f67
  )
);


//
// Delight
// --------------------------------------------------

// Transition timing
$transition-short: 125ms;
$transition-medium: 200ms;
$transition-long: 250ms;
